@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Inter';
}
:root{
    /* White */
    --white: #ffff;
    /* Light blue */
    --light-blue-100: #F3F5FC;
    --light-blue-200: #EFF1FA;
    --light-blue-300: #E9ECF8;
    --light-blue-400: #AAB2D5;
    --light-blue-500: #757FB2;
    /* Dark blue */
    --dark-blue-100: #609ED4 ;
    --dark-blue-200: #356EA9;
    --dark-blue-300: #0A3871;
    --dark-blue-400: #072B61;
    --dark-blue-500: #052051;
    /* Gray */
    --gray-100: #CED4DA;
    --gray-200: #ADB5BD;
    --gray-300: #868E96;
    --gray-400: #495057;
    --gray-500: #343A40;
}
body{
    background-color: var(--light-blue-300);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}
.generalContainer{
    max-width: 1325px;
    display: flex;
    flex-wrap: wrap;
}
.containerWeb{
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
}

.inputBox{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

textarea {
    width: 100%;
    background: none;
    resize: none;
    color:var(--dark-blue-400);
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 39px;
    border: none;
    margin: 0px 0px 20px 0px;
    padding: .7rem;
    min-height: 3rem;
}
textarea:focus {
    outline: none !important;
    border: none;
}
.botonera{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;  
}
.botonera .aviso{
    width: 100%;
    margin: 0px 0px 16px 0px;
    display: flex;
    align-items: center;
}
.botonera .aviso img{
    width: 16px;
    height: 16px;
    margin: 8px;
}
.btn{
    border-radius: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
    flex-grow: 0.8;
    border: 1px solid var(--dark-blue-400);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}
.primary{
    background-color: var(--dark-blue-400);
    color: var(--white);
}
.secondary{
    background-color: var(--white);
    color:var(--dark-blue-400);
}
.outputBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--white);
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}
.emptyMsg{
    margin: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.emptyMsg strong{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
}
.msg{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    padding: 20px
}
.result{
    color:var(--dark-blue-400);
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 39px;
    border: none;
    margin: 0px 0px 20px 0px;
    padding: .7rem;
    min-height: 3rem;
}
.none{
    display: none;
}
/* Browser */
@media (min-width: 1023px) {
    .logo{
        width: 100%;
        top: 0px;
        display: flex;
        justify-content: flex-start;
        background-color: var(--light-blue-300);
    }
    .logo img{
        margin: 20px 20px 20px 40px
    }
    .container{
        justify-content: end;
    }
    .inputBox{
        width: 500px;
        margin: 40px 40px 40px 40px;
    }
    .outputBox{
        width: 400px;
        margin: 0px 40px 0px 40px;
        
    }
    .outputBox .emptyMsg p{
        margin-top: 10px;
        font-size: 16px;
    }
}
/* tablet */
@media (min-width: 768px) and (max-width: 1023px) { 
    
    .logo{
        width: 100%;
        top: 0px;
        display: flex;
        justify-content: flex-start;
        background-color: var(--light-blue-300);
    }
    .logo img{
        margin: 20px 20px 20px 40px
    }
    .inputBox{
        width: 100%;
        margin: 0px 40px 20px 40px;
    }
    .outputBox{
        width: 100%;
        margin: 20px 40px 20px 40px;
    }
    .outputBox .emptyMsg p{
        margin-top: 10px;
        font-size: 16px;
    }
    .outputBox .msg {
        display: none;
    }
}
/* Mobile */
@media (max-width: 768px){
    .logo{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        background-color: var(--light-blue-300);
    }
    .logo img{
        width: 32px;
        height: 48px;
        margin: 20px 20px 20px 40px
    }
    .inputBox{
        width: 100%;
        margin: 0px 40px 10px 40px;
    }
    .btn{
        width:100%;
    }
    .secondary{
        margin-top: 24px;
    }
    .outputBox{
        width: 100%;
        margin: 0px 40px 20px 40px;
    }
    .outputBox .emptyMsg svg{
        display: none;
    }
    .outputBox .emptyMsg p{
        margin-top: 10px;
        font-size: 16px;
    }
    .outputBox .msg {
        display: none;
    }
}